//
// Page Transitions
// --------------------------------------------------



// Base styles
// --------------------------------------------------


// All //
/* Apply to all resolutions. Inherits to all layouts. */

// Menu styles // ---------------------------------------
        
.pt-menu li {
    display: inline-block;
    padding-right: 10px;
}
            
.pt-menu li > a:hover {
    cursor: pointer;
}

// Tablet //
@media screen and (max-width: 999px){

    #pt-cover {
        background: #ffd800; border: 1px solid #333; width: 400px; height: 90%; position:fixed; left: 0; top: 30px; z-index: 9999;
    }
    
    .pt-perspective {
        position: relative;
        width: 100%;
        height: 100%;
        
        -webkit-perspective: 1200px;
        -moz-perspective: 1200px;
        perspective: 1200px;
    }
    
    .pt-page {
        background: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        overflow: hidden;
        
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .pt-page-current {
        visibility: visible;
        z-index: 1;
    }
    
    .pt-page-ontop {
        z-index: 999;
    }
}

// Mobile //
@media screen and (max-width: 599px){}

// Small Desktop //
@media screen and (min-width: 1000px){
    
    #pt-cover {
        background: #ffd800; border: 1px solid #333; width: 400px; height: 90%; position: fixed; left: 0; top: 30px; z-index: 9999;
    }
    
    .pt-perspective {
        position: relative;
        width: 600px;
        height: 100%;
        
        -webkit-perspective: 1200px;
        -moz-perspective: 1200px;
        perspective: 1200px;
    }
    
    .pt-page {
        border: 1px dashed red;
        background: #fff;
        width: 600px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 400px;
        visibility: hidden;
        overflow: hidden;
        
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    .pt-page-current {
        visibility: visible;
        z-index: 1;
    }
    
    .pt-page-ontop {
        z-index: 999;
    }
}

// Notebook //
@media screen and (min-width: 1300px){}

// Large Desktop //
@media screen and (min-width: 1600px){}