//
// Page Transitions
// --------------------------------------------------
// All Viewports
/* Apply to all resolutions. Inherits to all layouts. */


// Menu styles // ---------------------------------------     
.pt-menu {
	background: #333;
	margin: 0;
	padding: 1em;

	li {
		display: inline;
		padding-right: 10px;
		font-size: 3em;
		
		&> a {
		
			&:hover {
				cursor: pointer;
			}
		}
	}
}


// Page styles // --------------------------------------- 

.no-js  {
	
	body {
		overflow: auto;
		
		.pt-page {
			visibility: visible;
			z-index: 1;
		}

		.pt-page-current {
			@extend .pt-page;
		}
	}
}

.pt-page-ontop {
	z-index: 999;
}


.pt-perspective {
	//position: relative;
    border: 1px solid red; // development line

	//width: 100%;
    min-height: 400px; // set to height of viewport
	height: 100%;
	
	-webkit-perspective: 1200px;
	-moz-perspective: 1200px;
	perspective: 1200px;

	.pt-page {
		border: 1px dashed red; // development line

		background: #fff;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
		overflow: hidden;
		
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);

		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		
		.scroll-pane {
			border: 1px solid blue; // development line
			
			min-width: 300px;
			width: 100%;
			height: 100%;
			overflow: auto;
		}
		
		.pt-cover {
			border: 1px solid green; // development line
			
			width: 30%;
			height: 100%;

			//position: fixed;
            position: relative;
			top: 0;
			left: 0;
			//float: left;
		}

		.pt-body {
			border: 1px solid green; // development line

			//padding: 5px;
			width: 70%;
			min-height: 100%;

			position: relative;
			top: 0;
			left: 30%; // >= pt-cover width
			//float: left;
		}
	}
	
	.pt-page-current {
		visibility: visible;
		z-index: 1;
	}
	
	.pt-page-ontop {
		z-index: 999;
	}
}

// Tablet //
@media (max-width: 999px){

	.pt-perspective {
		
		.pt-page {

			.pt-cover {
				min-width: 300px;
				width: 100%;
				height: 300px;
				position: relative;
			}

			.pt-body {
				min-width: 300px;
				width: 100%;
				position: relative;

				left: 0;
			}
		}
	}
}