// --------------------------------------------------
// Primary Styles
// --------------------------------------------------

// All Mediums -- Apply to all resolutions. Inherits to all layouts.


// html {height:100% !important}
// body {height:100%;padding:0;letter-spacing:1px;font-size:.85em;font-weight:400;line-height:1em;color:#333;position:relative;z-index:0}

/*
html {
	height: 100% !important;
}

body {
	@extend html;
	
    padding: 0;
	letter-spacing: 1px;
	font-size: .85em;
	font-weight: 400;
	line-height: 1em;
	color: #333;

	position: relative;
	z-index: 0;
}
*/

// .js {
// 	overflow: hidden;
// }

// --------------------------------------------------

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -50%;
	margin-left: -50%;
}

// #main-container {
// 	position: relative;
// }