//
// Sidebar
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.site-container {
    width: 500px;
    border: 1px solid red;
    background: red;

    @media screen and (max-width: 999px) {
        width: 300px;
        border: 1px solid green;
        background: green;
    }

}