/* line 5, scss/main.scss */
html, body {
  height: 100% !important;
}

/* line 13, scss/main.scss */
.no-js body {
  overflow: auto;
}
/* line 16, scss/main.scss */
.no-js body .pt-page, .no-js body .pt-page-current {
  visibility: visible;
  z-index: 1;
}
/* line 26, scss/main.scss */
.no-js .page {
  width: 100%;
  height: 100%;
}

/* line 32, scss/main.scss */
body {
  padding: 0;
  letter-spacing: 1px;
  position: absolute;
  z-index: 0;
}

/* Main central area styles */
/* line 42, scss/main.scss */
.page {
  word-wrap: break-word;
  position: relative;
  z-index: 3;
}
/* line 47, scss/main.scss */
.page .scrollableArea {
  top: 4em;
  position: absolute;
  bottom: 0;
}
