/* line 10, scss/site.scss */
html, body {
  height: 100%;
}

/* line 14, scss/site.scss */
body {
  background-color: #fff;
  border-top: solid 10px #000;
  color: #333;
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

/* Scroller */
